.navbar {
    width: 100%;
}

.navbar ul {
    display: inline-flex;
    list-style-type: none;
    text-align: center;
    margin: 0 22rem;
    background-color: white;
    border: solid;
    border-color: rgb(34, 34, 37);
    border-radius: 0 0 35px 35px;
}

.navbar li {
    width: 30%;
    display: block;
    margin: auto;
}

.navbar li a {
    color: black;
    font-size: 1.5em;
}

.logo {
    width: 69%;
    display: block;
    margin: auto;
}